In [1]:
import numpy as np

In [2]:
direct_leftout = '/Users/work/Documents/GitHub/mlgenomics/data_preprocessing/Wang_2018_all_2D_3D_processed_new.npz'

In [3]:
content_leftout = np.load(direct_leftout)['arr_0']

In [5]:
content_leftout[:,2]

array([2.70124257e-05, 1.19019281e-05, 1.07503763e-05, ...,
       0.00000000e+00, 0.00000000e+00, 0.00000000e+00])

In [30]:
unseen_0 = content_leftout[content_leftout[:,-1]==0,]

In [31]:
unseen_0.shape

(1549, 1034)

In [34]:
import os
import pandas as pd
# get labels for this dataset
dirs = os.listdir('/Users/work/Documents/GitHub/mlgenomics/data_as_downloaded/combinatorially_encoded/all_datasets')
data_dir = os.path.join('/Users/work/Documents/GitHub/mlgenomics/data_as_downloaded/combinatorially_encoded/all_datasets',dirs[0],'class_labels.csv')
celltype_labels = pd.read_csv(data_dir)

In [33]:
celltype_labels

      CellID  ClusterID ClusterName
0          0         -1         NaN
1          1         -1         NaN
2          2         -1         NaN
3          3         -1         NaN
4          4         -1         NaN
5          5         -1         NaN
6          6         -1         NaN
7          7         -1         NaN
8          8          1       eL6-2
9          9          5         eL4
10        10         -1         NaN
11        11         -1         NaN
12        12         11       eL2/3
13        13         -1         NaN
14        14          4       eL6-2
15        15          1         eL5
16        16         13       eL6-1
17        17         -1         NaN
18        18         -1         NaN
19        19         10       eL6-1
20        20         12       eL6-2
21        21         14       eL6-1
22        22          7       Micro
23        23          6         eL4
24        24          5       eL2/3
25        25         10       eL2/3
26        26          4         eL4
27        27          2       eL2/3
28        28          1       eL6-1
29        29          1        Endo
...      ...        ...         ...
1359    1359          5       Oligo
1360    1360         10       eL6-2
1361    1361         10        Reln
1362    1362          5       Oligo
1363    1363         12       eL6-2
1364    1364          9         eL4
1365    1365          7       Micro
1366    1366         -1         NaN
1367    1367          9       eL2/3
1368    1368          8       Micro
1369    1369          5       eL6-2
1370    1370         10       eL6-2
1371    1371         -1         NaN
1372    1372         11       Oligo
1373    1373         -1         NaN
1374    1374          5     Astro-2
1375    1375         -1         NaN
1376    1376          2       Oligo
1377    1377          5         eL4
1378    1378          5       Oligo
1379    1379          2         eL5
1380    1380          1       eL2/3
1381    1381         10       eL6-2
1382    1382          8       eL6-2
1383    1383         -1         NaN
1384    1384          8         eL4
1385    1385         -1         NaN
1386    1386          5         Smc
1387    1387         -1         NaN
1388    1388          5     Astro-2

[1389 rows x 3 columns]

In [21]:
dirs

['20180505_BY3_1kgenes',
 '20171110_BF2_dark',
 '20180410-BY3_1kgenes',
 '20180421_BZ19_cocaine',
 '20170915_BD2_dark',
 '20171115_BF5_light',
 '20180424_BZ14_control',
 '20171120_BF4_light',
 '20180419_BZ9_control',
 '20180417_BZ5_control']